<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container">
                <h2 class="navbar-brand">Jonathan Lu</h2>
            
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#differentPages" aria-controls="differentPages" aria-label="Expand Navigation">
                    <div class="navbar-toggler-icon"></div>
                </button>
            
                <div class="collapse navbar-collapse" id="differentPages">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">About Me</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link" href="/education">My Education</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link" href="/experience">My Experience</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/">Logout</a>
                        </li>
                
                        <li class="nav-item">
                            <div class="dropdown show">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownlinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                    Links 
                                </button>
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownlinks">
                                    <a class="dropdown-item" href="https://www.linkedin.com/in/jonathan-lu-078259216/">
                                    My LinkedIn
                                    </a>
                            
                                    <a class="dropdown-item" href="https://replit.com/@JonathanLu2005">
                                    My Replit
                                    </a>
                            
                                    <a class="dropdown-item" href="https://github.com/JonathanLu2005">
                                    My GitHub
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </body>


</html>