{% extends 'main/base.html' %} 

{% block title %}
My Experience
{% endblock %}

{% block content %}
<div class="container bg-white">
    <section class="jumbotron text-left bg-white">
        <div class="container">
            <h2 class="text-center"> Working Experience </h2>


            <div class="row">

                <div class="col">
                    <div class="card-group">
                        <div class="card"> 
                            <h2 class="card-title card-header text-center">JP Morgan</h2>
                            <div class="card-body">
                                <div class="card-text text-left">
                                    Through the Social Mobility Foundation (SMF) I was able to undertake work experience at JP Morgan in August 2022 and July 2023. <br>

                                    With 2022 involving me shadowing business analysts and 2023 shadowing software engineers and learning how technology is used in the financial services. <br>

                                    I was able to gain insight on how to better prepare myself for applications (CVs, cover letters, assessment centres etc). <br>

                                    Alongside gain an insight on what the working world was like and what to do technically to be a competitive applicant (internships, spring weeks, learning languages and doing projects, software and tools to learn etc).

                                    <br><br>

                                    <ul>
                                        <li>Utilised and enhanced my presentation skills</li>
                                        <li>Able to adapt and work independently in an unfamiliar environment</li>
                                        <li>An inquisitive mindset when exploring different aspects of technology</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col>
                    <div class="card-group">
                        <div class="card">
                            <h2 class="card-title card-header text-center">Travis Perkins</h2>
                            <div class="card-body">
                                <div class="card-text text-left">
                                    By applying locally in my area to various companies, I was able to undertake a week long work experience at Travis Perkins from March to April 2022. <br>
                                    This involved me shadowing different lines of technology used in the logistics industry: data science, cyber security, software engineering, project management etc.
                                    <br>
                                    I was able to learn and see how technology is used in logistics and also ask questions to learn more about what I should do to be proactive and prepare for University.
                                    <br><br>
                                    <ul>
                                        <li>Conducted and communicated professionally</li>
                                        <li>Learnt how to use Excel to analyse data</li>
                                        <li>Networked with employees</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="jumbotron text-left bg-white">
        <div class="hstack">
            <div class="container">
                <div class="card-group">

                    <div class="card">
                        <h2 class="card-title card-header text-center">Extracurriculars</h2>
                        <div class="card-body">
                            <div class="card-text">
                                Throughout my time in Sixth Form I was able to engage with different extracurriculars to be able to expand my skillset and interpersonal skills.

                                <br><br>
                                <ul>
                                    <li>Participated in my school's "Breakfast with a Professional" to enhance my knowledge of the working world</li>
                                    <li>I took part on the STEM Brightside and my school's mentoring program for personal development</li>
                                    <li>I volunteered to help organise "Robocon", an inhouse competition for lower years</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 class="card-title card-header text-center">Awards</h2>
                        <div class="card-body">
                            <div class="card-text">
                            During my time at Sixth Form, I have achieved these academic awards

                            <br><br>

                                <ul>
                                    <li>Bebras Competition 2021 - Distinction</li>
                                    <li>Havard Prize Book</li>
                                    <li>Warwick Scholars</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Next Steps </button>

    <div class="modal fade" id="modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body jumbotron text-left">
                    I intend to apply to multiple spring weeks to have a flavour of technology in different industries alongside trying out different roles in technology, which will lead to what internship I shall apply for.
                    <br>
                    Alongside this I hope to join academic societies like Warwick's AI, Data Science, Coding and Computer Science society, plus try out sport and social societies to develop new interests.
                </div>
                <br>
                <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#modal"></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}