{% extends 'main/base.html' %} 

{% block title %}
About Me
{% endblock %}

{% block content %}
<div class="container">


    <section class="jumbotron text-center bg-white">
    <div class="container">
        <h1 class="jumbotron-heading"> Introduction </h1>
        <p class="lead text-muted"> Hi my name is Jonathan Lu! <br>
        I currently have finished my A-Level studies in the UK and heading off to Warwick University to study Computer Science in September of 2023. <br>
        I got interested in programming after watching Michael Reeves, where he made a Roomba scream in pain every time it hit a wall (trust me, I'm not a psychopath). <br>
        After that I found it cool and interesting that with code you can turn your imagination into reality, and that's something I'd like to do. 
        </p>
    </div>
    </section>

    <section class="jumbotron text-left bg-white">
        <div class="hstack">
            <div class="container">
                <div class="card-group">
                    
                    <div class="card">
                        <h2 class="card-title card-header text-center">Skills</h2>
                        <div class="card-body">
                            <div class="card-text">
                                <ul>
                                    <li> Problem solving </li>
                                    <li> Leadership </li>
                                    <li> Communication </li>
                                    <li> Planning and organisation </li>
                                    <li> Teamwork </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 class="card-title card-header text-center">Projects</h2>
                        <div class="card-body">
                            <div class="card-text">
                                <ul>
                                    <li> Login system </li>
                                    <li> Employee database management system </li>
                                    <li> Commercial rice cooker website </li>
                                    <li> Real estate database </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h2 class="card-title card-header text-center">Software</h2>
                        <div class="card-body">
                            <div class="card-text">
                                <ul>
                                    <p>
                                    Python : Flask, Django, SMTPLIB, RE, DateTime
                                    SQL: SQLite, MySQL, PostgreSQL
                                    HTML, CSS, BootStrap

                                    <br>

                                    Software:
                                    <ul>
                                        <li> Figma </li>
                                        <li> Excel, Word, PowerPoint </li>
                                        <li> Render (Cloud service) </li>
                                    </ul>
                                    </p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>  
        </div>
    </section>

</div>
{% endblock %}